.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    border-radius: 8px;
    box-shadow: #64646f33 0px 7px 29px 0px;
    padding: 0;
    transition-duration: 280ms;
}

.card:hover{
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .card{
        margin: 10px 20px;
        width: 80%;;
    }
    
}
.buttons-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 32px;
}
.button{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}