body{
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 380px);
    grid-gap: 15px;
    margin-top: 32px;
    margin-left: 32px;
}
